body{
    background-color: rgb(171, 205, 209);
}

#addBookFormButton{
    position:absolute;
    left: 90%;
}

#form{
    width: fit-content;
    position:absolute;
    top:10%;
    left:40%;
    box-shadow: 10px 10px 10px #333;
    /* margin: auto; */
    
}

/* h3{
    text-align: center;
} */

#container{
    background-color: lightskyblue;
    margin: 0 auto;
    width: 13.5em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
}

#cardDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    flex-basis: 33.333333%;
}

.card{
    border-style: ridge;
    /* white-space: pre; */
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 150px;
    margin: 10px;
    width: 250px;
    text-align: center;
    position: relative;
    background-color: rgb(216, 230, 241);
    
}

p{
     margin-bottom: -15px;
     font-size: 13px;
}

.removeButton{
    /* position: absolute;
    align-self: center;
    bottom:   0;
    left: 70%; */
    /* border-radius: 50%; */
    background-color: rgb(188, 220, 241);
    padding: 5;
}

.bookReadRadio{

}

/* label{
    margin-left: -123px;
} */

#read{
    width: 185px;
    margin-bottom: 8px;
}

.cardMenu{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-self: center;
    bottom:   0;
}
